spring:
  application:
    name: amit


  datasource:
    url: jdbc:postgresql://localhost:5432/SpringEcommerce
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  devtools:
    livereload:
      enabled: true

server:
  port: 8080